.filter-items {
    height: 40px;
    width: 260px;
    background-color: white;
    border: 1px solid #2B2B2B;
    border-radius: 1px;
}

.filter-items:focus-visible {
    outline: none !important;
}