.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 240px;
    min-height: 240px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.card h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #454545;
}

.card .complete-checkbox {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 18px;
    height: 18px;
}

.card.completed h3, .card.completed p{
    filter: blur(2px);
    color: #454545;
}

.remove-item {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #454545;
}

.edit-item {
    position: absolute;
    top: 10px;
    right: 35px;
    cursor: pointer;
    font-size: 18px;
    color: #454545;
}

.date-time {
    font-size: 13px;
    position: absolute;
    bottom: 10px;
    left: 12px;
}

.due-time {
    top: 10px;
    left: 38px;
    bottom: unset;
}

.due-date-card {
    background-color: #e18a8a;
}

.due-date-card h3, .date-time-card p {
    /* color: white; */
}