.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 180px;
    min-height: 180px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.card h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.remove-item {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
}

.edit-item {
    position: absolute;
    top: 10px;
    right: 35px;
    cursor: pointer;
    font-size: 18px;
}