.modal-box {
    width: 500px;
    height: 500px;
}

.btn-save {
    width: fit-content;
    border-radius: 10px;
    font-weight: 600;
}

#userEntryField {
    border-radius: 10px;
    width: 60%;
    height: 40px;
    font-size: 20px;
}