.modal-box {
    width: 530px;
    height: 630px;
    position: absolute;
    top: 20%;
    transform: translate(50%);
    left: 20%;
    border-radius: 20px;
    background-color: #514f4f;
}

.btn-save {
    width: fit-content;
    border-radius: 10px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 18px;
}

.datetime-input {
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 3px;
    padding: 4px;
    font-size: 13px;
    background: transparent;
    color: white;
    border: 1px solid white;
}

.due-input {
    left: 215px;
}

.icon-close {
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: white;
    padding: 5px;
    font-size: 28px;
    color: black;
    border-radius: 2px;
    font-weight: 600;
}
.icon-close:hover, 
.btn-save:hover {
    background-color: grey;
    color: white;
}

.create-entry #userEntryField {
    border-radius: 10px;
    width: 60%;
    height: 40px;
    font-size: 20px;
    margin: 0 auto;
    padding: 15px;
}

.error-text {
    width: 60%;
    margin-top: 5px;
    font-size: 14px;
}

.create-entry #userEntryField:focus-visible, 
.create-entry #userTextArea:focus-visible {
    outline: none !important;
}

.create-entry #userTextArea {
    border-radius: 10px;
    width: 60%;
    font-size: 20px;
    margin: 0 auto;
    padding: 15px;
    margin-top: 15px;
}

.smiley-icon {
    font-size: 60px;
    color: white;
    margin-bottom: 20px;
}
