
.todolist {
    position: relative;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.main-container {
    padding: 0 350px;
    min-height: 60vh;

}

.todolist-container {
    border-radius: 50px;
    padding: 40px;
}

.create-icon {
    bottom: 30px;
    right: 40px;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    font-weight: 700;
}

.create-icon:hover {
    color: white;
}