.todolist {
    position: relative;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.create-icon {
    bottom: 30px;
    right: 40px;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.create-icon:hover {
    transform: scale(1.15);
}